.App {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  min-height: 80vh;
  color: white;
}

.Form-ctrl{
  display: flex;
  justify-content: center;
  align-items: center;
}

label{
  padding: 20px;
  font-size: 18px;
}
input{
  width: 300px;
  padding: 20px;
  border-radius: 18px;
  margin: 4px;
  font-size: 18px;
}

.btn{
  width: 120px;
  padding: 20px;
  margin: 8px;
  border-radius: 18px;
  background-color: aliceblue;
  color: #282c34;
  font-size: 18px;
}




