.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: skyblue;

}
.container{
  background-color: #282c34;
  width: 60%;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  border-radius: 25px ;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
 
}
 /* nice color background-color: #282c34; */
img{
    width: 150px;
    height: 150px;
    border: none;
    margin: 10px;
    border-radius: 50%;
}
.container p{
  margin: 0;
}

button{
  margin: 20px;
  border: none;
  background:none;
  color: skyblue;
}

hr{
  margin-top: 0;
  border: none;
  border-radius:10px ;
  width: 10%;
  padding: 5px;
  background-color: skyblue;

}
.App-header h1{
  margin: 0;
}

